
.ta-dashboard-dashboard-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f7;
  }
  
  .ta-dashboard-dashboard-grid {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  /* LEFT SIDE */
  .ta-dashboard-dashboard-left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .ta-dashboard-left-up-panel{
    background: white;
    border-radius: 10px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .ta-dashboard-tab-bar {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid #e5e7eb;
    border-radius: 10px;
  }
  
  .ta-dashboard-tab-bar button {
    background: none;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border-bottom: 3px solid transparent;
  }
  
  .ta-dashboard-tab-bar button.active {
    color: #6366f1;
    border-bottom: 3px solid #6366f1;
  }

  
  
  .ta-dashboard-tab-content {
    min-height: 150px;
    padding: 10px;
    background: white;
    
  }
  
  .ta-dashboard-request-details {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    height: 150px;
  }
  
  /* RIGHT SIDE */
  .ta-dashboard-dashboard-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .ta-dashboard-notifications {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  }
  
  .ta-dashboard-stats-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .ta-dashboard-stat {
    border: 1px solid #6366f1;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
  }
  
  .ta-dashboard-placeholder {
    font-style: italic;
    color: #aaa;
  }
  .ta-dashboard-bottom-left {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    margin-top: 20px;
    min-height: 200px;
  }
  
  .ta-dashboard-task-entry-form form,
  .ta-dashboard-swap-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .ta-dashboard-time-inputs {
    display: flex;
    gap: 10px;
  }
  
  .ta-dashboard-task-entry-form button,
  .ta-dashboard-swap-form button {
    background: #6366f1;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }


  


  
  
  